@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

* {

  font-family: "Noto Sans JP", sans-serif;
}

.purple-color {
    color: #8845f4;
	}

body {
    font-family: sans-serif;
    color: #777777;
    line-height: 26px;
	}

.half-width {
	padding-right: 8%;
	width: 50%;
    float: right;
		}

.side-img {
    width: 50%;
    padding: 0px 0px 0px 0px;
	border-radius: 50px;
	}

.primary-btn{
	color: white;
	background-color: #8845f4;
	padding: 13px 42px;
	border-radius: 20px;
	text-decoration: none;
	}

h1{
	font-size: 1.5em;
	}
	
.container{
	padding-left: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
}
	
.projects{
	padding: 30px;
	margin: 30px;
	background-color: rgb(238, 251, 255);
	border-radius: 20px;
	}
	
.project-item{
	padding: 10px;
	border-left: 1px solid rgba(137, 130, 247, .2);
	}
	
footer{
	padding: 5px;
	margin: 0px 0px 0px 40px;
	border-top: 1px solid rgba(137, 130, 247, .2);
}

/* .formulario {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	margin: 30px;
	background-color: black;
	border-radius: 20px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
} */

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: black;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: black;
}

input::placeholder, textarea::placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: black;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: black;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: black;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: black;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}


header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: hsl(214, 35%, 37%);
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: hsl(176, 63%, 87%);
  color: black;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: hsl(176, 63%, 87%);
  color: black;
}

#enviar {
  width: 502px;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: black;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
  border-top: none;
}

#enviar:hover {
  color: black;
}

/* Página Send */

section#success{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: rgb(235, 255, 235);
  }
  
  section#success div#card{
	background-color: #8845f4;
	text-align: center;
	padding: 4rem;
	border-radius: 2rem;
	color:white;
	width: 40%;
  }
  
  section#success div#card h1{
	margin: 2rem 0rem;
  }
  
  section#success div#card i{
	font-size: 5rem;
  }
  
  section#success div#card h3{
	margin-bottom: 2rem;
  }
  
  section#success div#card p{
	margin-bottom: 3rem;
	width: 100%;
	word-break: break-word;
  }
  
  section#success div#card a{
	text-decoration: none;
	padding: 1rem;
	border: 1px solid purple;
	color: purple;
	border-radius: .4rem;
	transition: all .4s ease-out;
  }
  
  section#success div#card a:hover{
	background-color: white;
	color: black;
  }